kitti
preprocess/
ckpts
kitti/
ckpts/
result/
*.zip

MCDropout/
MCDropout_qpn/
deepensemble_qpn/
origin_qpn/
projects/__pycache__/
projects/configs/com_gen.py
projects/configs/voxformer/voxformer-S_dropout.py
projects/mmdet3d_plugin/__pycache__/
projects/mmdet3d_plugin/core/evaluation/__pycache__/
projects/mmdet3d_plugin/datasets/__pycache__/
projects/mmdet3d_plugin/datasets/samplers/__pycache__/
projects/mmdet3d_plugin/models/opt/__pycache__/
projects/mmdet3d_plugin/models/utils/__pycache__/
projects/mmdet3d_plugin/voxformer/__pycache__/
projects/mmdet3d_plugin/voxformer/apis/__pycache__/
projects/mmdet3d_plugin/voxformer/dense_heads/__pycache__/
projects/mmdet3d_plugin/voxformer/detectors/__pycache__/
projects/mmdet3d_plugin/voxformer/hooks/__pycache__/
projects/mmdet3d_plugin/voxformer/modules/__pycache__/
projects/mmdet3d_plugin/voxformer/runner/__pycache__/
projects/mmdet3d_plugin/voxformer/utils/__pycache__/
uq_metrics_result/
uq_out/



